<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="github" value="https://nuget.pkg.github.com/danyae/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="danyae" />
            <!-- readonly token, it's supposed to be here -->
            <add key="ClearTextPassword" value="360066958671cde301bc7f7cfff52cd18c229338" />
        </github>
    </packageSourceCredentials>
</configuration>